### Build Output ###
target/
build/
!**/src/main/**/target/
!**/src/main/**/build/
!**/src/test/**/target/
!**/src/test/**/build/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

### Environment Variables ###
.env
.env.local
.env.production
.env.test

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
