@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(199, 193, 186, 1) 100%);
    font-family: Inconsolata;
  }
  h1 {
    font-size: 36px;
  }
  /* Apply these classes directly or customize as per project setup */

  .key {
    @apply flex items-center justify-center font-extrabold text-xl p-4 bg-gray-100 text-gray-800 rounded-md shadow-sm sm:hover:bg-gray-300 active:bg-gray-400 transition ease-in-out duration-150;
  }

  .clear-key {
    @apply bg-red-500 text-white hover:bg-red-400 active:bg-red-600;
  }

  .backspace-key {
    @apply bg-blue-500 text-white hover:bg-blue-400 active:bg-blue-600;
  }
  /* .tile {
    @apply cursor-pointer sm:w-48 max-w-[400px] p-4 bg-gray-300 font-Inconsolata rounded-lg shadow-lg border-2 border-gray-300 hover:shadow-blue-500/40 transition duration-300 ease-in-out;
  }

  .tile:hover {
    @apply transform scale-105;
  }

  .tile-title {
    @apply text-center text-lg font-extrabold bg-gray-400/30 text-gray-800 p-2 rounded-t-md;
  }

  .tile-text {
    @apply text-center mt-2 text-sm text-gray-700;
  }

  .arrow {
    @apply flex justify-center mt-4 text-blue-500;
  } */
}
